
	html,
  body {
     margin: 0px;
     height: 100%;
    font-family: Arial, sans-serif
    font-size: 14px;}
    
   
    .place 
    {
    height: 100%;
    width: 200px;
    padding: 1cm;

    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    padding-top: 150px;
}
    
    .place h4 {font-family: Arial;
        color: blue;}
    .search-box {
      background: #63b5e5;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 200px;
      
      padding: 1cm;
    }


  #map {
    
  height: 100%;
  width: 100%;
  z-index: 1;
   }
   #pano {
    width: 200px;
    height: 180px;
   }
   .text {
    font-size: 12px;
   }
